<div class="container">
    <form action="/user/create" method="post" id="sign-up-form" class="form-signin">
        
        <h2 class="form-signin-heading">Create an account</h2>
        <% if(flash && flash.err) {%> 
            <ul class="alert alert-success">
                <% Object.keys(flash.err).forEach(function(error){ %>
                <li><%= JSON.stringify(flash.err[error]) %></li>
                <% }) %>
            </ul>
        <% } %>

        <input type="text" class="form-control" placeholder="your name" name="name" required/>
        <input type="text" class="form-control" placeholder="your Title" name="title" required/>
        <input type="text" class="form-control" placeholder="email address" name="email" required/>
        <input type="password" class="form-control" placeholder="password" name="password" id="password" required/>
        <input type="password" class="form-control" placeholder="password confirmation" name="confirmation" required/>
        <br/>
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create Account"/>
        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>
</div>    