.jumbotron{
    margin-top: 50px;
   

}
.form-signin{
    max-width: 60%;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    margin-top: 20px;
    background-color: lightgray;
    border: 1px solid green;
    -webkit-border-radius: 25px;
    -moz-border-radius:25px;
    border-radius: 25px;
      
}
.form-signin h2{
    text-align: center;
    margin-bottom: 5px;
    
}      
.form-signin input[type="text"],
.form-signin input[type="password"]{
    font-size: 16px;
    
    height: auto;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 7px 9px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
   
    background-color: white; /* Black*/
    overflow-x: show; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
#mySidenav{
    width:250px;
   
}
#featuredProducts{
    display:none;
}

/* The navigation menu links */


/* When you mouse over the navigation links, change their color */


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
.thumbnail a{
    color:rgb(48, 46, 46);
}
.thumbnail a:hover{
    color: rgb(100, 62, 62);
    text-decoration: none;
}
.btn{
    border : 0px solid rgb(71, 71, 71);
    -webkit-border-radius: 25px;
    -moz-border-radius:25px;
    border-radius: 25px;
}
.list-group{
    -webkit-border-radius: 25px;
    -moz-border-radius:25px;
    border-radius: 25px;
}

